<!DOCTYPE HTML>
<html>


     <!--   头部-->
       {include file="common/header"}
     <!--  头部-->
        <div class="met-banner banner-ny-h" data-height='' style=''>
            <div class="slick-slide">
                <img class="cover-image" src="picture/1510131128.jpg" sizes="(max-width: 767px) 767px" alt="客户案例">
            </div>
        </div>
        <section class="met-news animsition ">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 met-news-body">
                        <div class="row">
                            <div class="met-news-list">
                                <ul class="met-page-ajax" data-scale='0.71428571428571'>
                                    <li class="">
                                        <div class="media media-lg">
                                            <div class="media-left">
                                                <a href="#"​ title="同学聚会--让我们见证你们的情谊" target='_self'>
                                                    <img class="media-object" src="picture/1-1g1291054500-l.jpg" style='height:150px;'
                                                    alt="同学聚会--让我们见证你们的情谊">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                   <a href="caseshow.html"​ title="同学聚会--让我们见证你们的情谊" target='_self'>
                                                        同学聚会--让我们见证你们的情谊
                                                    </a>
                                                </h4>
                                                <p class="des">
                                                    年年岁岁花相似，岁岁年年人不同，不知不觉已毕业整整二十个年头了。世间有这么一种情感，虽然不能时时相聚，但却能一见如故，这就是同窗之情。 二十年风华岁月...
                                                </p>
                                                <p class="info">
                                                    <span>
                                                        2017-11-29
                                                    </span>
                                                    <span>
                                                        admin
                                                    </span>
                                                    <span>
                                                        <i class="icon wb-eye margin-right-5" aria-hidden="true">
                                                        </i>
                                                        104
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="media media-lg">
                                            <div class="media-left">
                                               <a href="caseshow.html"​ title="<b>北大青鸟新途校区学生拓展加烧烤及休闲</b>" target='_self'>
                                                    <img class="media-object" src="picture/1-1g1291053150-l.jpg" style='height:150px;'
                                                    alt="<b>北大青鸟新途校区学生拓展加烧烤及休闲</b>">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                   <a href="caseshow.html"​ title="<b>北大青鸟新途校区学生拓展加烧烤及休闲</b>" target='_self'>
                                                        <b>
                                                            北大青鸟新途校区学生拓展加烧烤及休闲
                                                        </b>
                                                    </a>
                                                </h4>
                                                <p class="des">
                                                    北大青鸟校区坐落在麓谷工业园距离某某生态农庄4公里，交通很方便，他们可以骑车、公交都能到达，北大青鸟的学生们在某某生态农庄以及开展班级活动近20场，同学们...
                                                </p>
                                                <p class="info">
                                                    <span>
                                                        2017-11-29
                                                    </span>
                                                    <span>
                                                        admin
                                                    </span>
                                                    <span>
                                                        <i class="icon wb-eye margin-right-5" aria-hidden="true">
                                                        </i>
                                                        85
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="media media-lg">
                                            <div class="media-left">
                                               <a href="caseshow.html"​ title="<b>某某中学1411班新年亲子拓展活动</b>" target='_self'>
                                                    <img class="media-object" src="picture/1-1g1291052140-l.jpg" style='height:150px;'
                                                    alt="<b>某某中学1411班新年亲子拓展活动</b>">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                   <a href="caseshow.html"​ title="<b>某某中学1411班新年亲子拓展活动</b>" target='_self'>
                                                        <b>
                                                            某某中学1411班新年亲子拓展活动
                                                        </b>
                                                    </a>
                                                </h4>
                                                <p class="des">
                                                    2016年元月3日，某某中学1411班全体同学和部分家长开展了新年拓展活动、因为同学们下午4点还有参加课外辅导，拓展活动紧张而刺激，同学们的积极性和集体荣誉感很高...
                                                </p>
                                                <p class="info">
                                                    <span>
                                                        2017-11-29
                                                    </span>
                                                    <span>
                                                        admin
                                                    </span>
                                                    <span>
                                                        <i class="icon wb-eye margin-right-5" aria-hidden="true">
                                                        </i>
                                                        124
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="media media-lg">
                                            <div class="media-left">
                                               <a href="caseshow.html"​ title="<b>CS丛林野战</b>" target='_self'>
                                                    <img class="media-object" src="picture/1-1g129105059212.jpg" style='height:150px;'
                                                    alt="<b>CS丛林野战</b>">
                                                </a>
                                            </div>
                                            <div class="media-body">
                                                <h4 class="media-heading">
                                                   <a href="caseshow.html"​ title="<b>CS丛林野战</b>" target='_self'>
                                                        <b>
                                                            CS丛林野战
                                                        </b>
                                                    </a>
                                                </h4>
                                                <p class="des">
                                                    当前先进的激光对战装备，枪体开枪时带后坐力，瞄准带红外，可单点，连发，多连发，榴弹发射，在被击中时枪体电麻、惨叫和震动，并且战场为天然丛林战场，让你...
                                                </p>
                                                <p class="info">
                                                    <span>
                                                        2017-11-29
                                                    </span>
                                                    <span>
                                                        admin
                                                    </span>
                                                    <span>
                                                        <i class="icon wb-eye margin-right-5" aria-hidden="true">
                                                        </i>
                                                        56
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div>
                                    <div class='met_pager'>
                                        <span class="pageinfo">
                                            共
                                            <strong>
                                                1
                                            </strong>
                                            页
                                            <strong>
                                                4
                                            </strong>
                                            条记录
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="met-news-bar">
                                <form name="formsearch" action="/plus/search.php">
                                    <input type="hidden" name="kwtype" value="0" />
                                    <input type='hidden' name='typeid' value="18,19">
                                    <div class="form-group">
                                        <div class="input-search">
                                            <button type="submit" class="input-search-btn">
                                                <i class="icon wb-search" aria-hidden="true">
                                                </i>
                                            </button>
                                            <input type="text" class="form-control" name="q" placeholder="Search">
                                        </div>
                                    </div>
                                </form>
                                <div class="recommend news-list-md">
                                    <h3>
                                        为您推荐
                                    </h3>
                                    <ul class="list-group list-group-bordered">
                                        <li class="list-group-item">
                                           <a href="caseshow.html"​ title="北大青鸟新途校区学生拓展加烧烤及休闲" target='_self'>
                                                北大青鸟新途校区学生拓展加烧烤及休闲
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                           <a href="caseshow.html"​ title="某某中学1411班新年亲子拓展活动" target='_self'>
                                                某某中学1411班新年亲子拓展活动
                                            </a>
                                        </li>
                                        <li class="list-group-item">
                                           <a href="caseshow.html"​ title="CS丛林野战" target='_self'>
                                                CS丛林野战
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="column">
                                    <li>
                                       <a href="caseshow.html"​ title="所有文章" target='_self'>
                                            所有文章
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

 {include file="common/top"}
</html>
