<!DOCTYPE HTML>
<html>


    <body>

     <!--   头部-->
       {include file="common/header"}
     <!--  头部-->
        <div class="met-banner" data-height='' style=''>
            <div class="slick-slide">
                <img class="cover-image" src="__IMGS__/1.jpg" sizes="(max-width: 767px) 767px"
                alt="">
            </div>
             <!--<div class="slick-slide">
                <img class="cover-image" src="__IMGS__/6.jpg" sizes="(max-width: 767px) 767px"
                alt="">
            </div>
             <div class="slick-slide">
                <img class="cover-image" src="__IMGS__/7.jpg" sizes="(max-width: 767px) 767px"
                alt="">
            </div>-->
             <div class="slick-slide">
                <img class="cover-image" src="__IMGS__/3.jpg" sizes="(max-width: 767px) 767px"
                alt="">
            </div>
            <div class="slick-slide">
                <img class="cover-image" src="__IMGS__/2.jpeg" sizes="(max-width: 767px) 767px"
                alt="">
            </div>
            <div class="slick-slide">
                <img class="cover-image" src="__IMGS__/3.jpeg" sizes="(max-width: 767px) 767px"
                alt="">
            </div>
            <div class="slick-slide">
                <img class="cover-image" src="__IMGS__/4.jpeg" sizes="(max-width: 767px) 767px"
                alt="">
            </div>
        </div>
        <div class="met-index-about met-index-body" style="background-image:url();">
            <div class="container">
                <h2 class="invisible" data-plugin="appear" data-animate="slide-top" data-repeat="false">
                    古北水镇
                </h2>
                <p class="desc invisible" data-plugin="appear" data-animate="fade" data-repeat="false">
                    ——假期放松好场所——
                </p>
                <ul class="blocks-100 blocks-sm-2 blocks-md-3 blocks-xlg-3 " data-plugin="matchHeight">
                    <li class="invisible" data-plugin="appear" data-animate="slide-bottom50"
                    data-repeat="false">
                        <div class="about-shadow">
                            <a href="#"​ title="休闲项目">
                                <img src="__IMGS__/4.jpg" alt="休闲项目">
                            </a>
                            <a href="#"​ title="冬季水镇" class="about-info">
                                <h3>
                                    冬季水镇
                                </h3>
                                <p>
                                    适合南方没看过雪的旅客~
                                </p>
                            </a>
                        </div>
                    </li>
                    <li class="invisible" data-plugin="appear" data-animate="slide-bottom50"
                    data-repeat="false">
                        <div class="about-shadow">
                            <a href="#"​ title="春季">
                                <img src="__IMGS__/7.jpg" alt="山庄环境">
                            </a>
                            <a href="#"​ title="春季" class="about-info">
                                <h3>
                                    春季水镇
                                </h3>
                                <p>
                                    依山傍水，环境优美，适合踏青~
                                </p>
                            </a>
                        </div>
                    </li>
                    <li class="invisible" data-plugin="appear" data-animate="slide-bottom50"
                    data-repeat="false">
                        <div class="about-shadow">
                            <a href="#"​ title="团队套餐">
                                <img src="__IMGS__/6.jpg" alt="夏季">
                            </a>
                            <a href="#"​ title="夏季" class="about-info">
                                <h3>
                                    夏季水镇
                                </h3>
                                <p>
                                    由于夏季比较热建议游客可以欣赏水镇夜景~
                                </p>
                            </a>
                        </div>
                    </li>
                </ul>
                <a href="{:url('index/poto')}"​ title="查看更多" class="more">
                    查看更多
                </a>
            </div>
        </div>
        <div class="met-index-product met-index-body" style="background-image:url();">
            <div class="container">
                <h2 class="invisible" data-plugin="appear" data-animate="slide-top" data-repeat="false">
                    古镇美食
                </h2>
                <p class="desc invisible" data-plugin="appear" data-animate="fade" data-repeat="false">
                    ——The happiest thing in life is to eat delicious food——
                </p>

                <ul class="blocks-2 blocks-sm-2 blocks-md-4 blocks-xlg-4 no-space" id='indexprolist'
                data-scale='0.65625'>
                    <li>
                        <div class="widget widget-shadow invisible" data-plugin="appear" data-animate="slide-bottom50"
                        data-repeat="false">
                            <figure class="widget-header cover">
                                <a href="#"​ title="   美食名称" target='_self'>
                                    <img class="cover-image" src="__IMG__/fulls/111.jpg" style='height:300px;'
                                    alt="   美食名称">
                                </a>
                            </figure>
                            <h4 class="widget-title">
                                <a href="#"​ title="   美食名称" target='_self'>
                                    美食名称
                                </a>
                            </h4>
                        </div>
                    </li>
                    <li>
                        <div class="widget widget-shadow invisible" data-plugin="appear" data-animate="slide-bottom50"
                        data-repeat="false">
                            <figure class="widget-header cover">
                                <a href="#"​ title="   美食名称"
                                target='_self'>
                                    <img class="cover-image" src="__IMG__/fulls/112.jpg" style='height:300px;'
                                    alt="   美食名称">
                                </a>
                            </figure>
                            <h4 class="widget-title">
                                <a href="#"​ title="   美食名称"
                                target='_self'>
                                 美食名称
                                </a>
                            </h4>
                        </div>
                    </li>
                    <li>
                        <div class="widget widget-shadow invisible" data-plugin="appear" data-animate="slide-bottom50"
                        data-repeat="false">
                            <figure class="widget-header cover">
                                <a href="#"​ title="   美食名称" target='_self'>
                                    <img class="cover-image" src="__IMG__/fulls/113.jpg" style='height:300px;'
                                    alt="   美食名称">
                                </a>
                            </figure>
                            <h4 class="widget-title">
                                <a href="#"​ title="   美食名称" target='_self'>
                                       美食名称
                                </a>
                            </h4>
                        </div>
                    </li>
                    <li>
                        <div class="widget widget-shadow invisible" data-plugin="appear" data-animate="slide-bottom50"
                        data-repeat="false">
                            <figure class="widget-header cover">
                                <a href="#"​ title="公司活动策划" target='_self'>
                                    <img class="cover-image" src="__IMG__/fulls/114.jpg" style='height:300px;'
                                    alt="公司活动策划">
                                </a>
                            </figure>
                            <h4 class="widget-title">
                                <a href="#"​ title="公司活动策划" target='_self'>
                                     美食名称
                                </a>
                            </h4>
                        </div>
                    </li>
                </ul>
                <a href="{:url('index/potot')}"​ title="活动套餐" class="more">
                    查看更多
                </a>
            </div>
        </div>
        <div class="met-index-jion met-index-body" style="background-image:url(images/1510133967.jpg);">
          <?php foreach($re as $k=>$v){?>
            <video width="100%" height="100%" controls="controls" src="__ROOT__/{$v['vio']}">
                   <ideo>
         <?php } ?>

        </div>
        <div class="met-index-news met-index-body" style="background-image:url();">
            <div class="container">
                <h2 class="invisible" data-plugin="appear" data-animate="slide-top" data-repeat="false">
                    游玩攻略
                </h2>
                <p class="desc invisible" data-plugin="appear" data-animate="fade" data-repeat="false">
                    ——strategy——
                </p>
                <ul class="blocks-2" data-scale='0.71428571428571'>
                    <li class="invisible" data-plugin="appear" data-animate="slide-bottom"
                    data-repeat="false">
                        <div class="media media-lg">
                            <div class="media-left">
                                <a href="#"​ title="欢乐农庄是休闲旅游、养生度假、娱乐放松的最"
                                target='_self'>
                                    <img class="media-object" src="__IMGS__/1-1g1291103320-l.jpg" style='height:80px;'
                                    alt="欢乐农庄是休闲旅游、养生度假、娱乐放松的最">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#"​ title="欢乐农庄是休闲旅游、养生度假、娱乐放松的最"
                                    target='_self'>
                                        欢乐农庄是休闲旅游、养生度假、娱乐放松的最
                                    </a>
                                </h4>
                                <p class="des">
                                    某某农庄，占地1500亩，是占地面积最大、游玩类型最多、休闲项目(xing m)最全、日接待游客最多的农庄。农家乐推荐的雏形来自于国内外的乡村旅游，并将国内特有的乡村...
                                </p>
                                <p class="info">
                                    <span>
                                        2017-11-29
                                    </span>
                                    <span class="margin-left-10">
                                        admin
                                    </span>
                                    <span class="margin-left-10">
                                        <i class="icon wb-eye margin-right-5" aria-hidden="true">
                                        </i>
                                        174
                                    </span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="invisible" data-plugin="appear" data-animate="slide-bottom"
                    data-repeat="false">
                        <div class="media media-lg">
                            <div class="media-left">
                                <a href="#"​ title="老同学聚会来农家乐就对了" target='_self'>
                                    <img class="media-object" src="__IMGS__/1-1g1291101090-l.jpg" style='height:80px;'
                                    alt="老同学聚会来农家乐就对了">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#"​ title="老同学聚会来农家乐就对了" target='_self'>
                                        老同学聚会来农家乐就对了
                                    </a>
                                </h4>
                                <p class="des">
                                    老同学聚会来农家乐就对了，有人说，光阴似箭，一转眼，一年的同窗生涯已成为过去。农家乐一般来说，农家乐的业主利用当地的农产品进行加工，满足客人的需要，成...
                                </p>
                                <p class="info">
                                    <span>
                                        2017-11-29
                                    </span>
                                    <span class="margin-left-10">
                                        admin
                                    </span>
                                    <span class="margin-left-10">
                                        <i class="icon wb-eye margin-right-5" aria-hidden="true">
                                        </i>
                                        141
                                    </span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="invisible" data-plugin="appear" data-animate="slide-bottom"
                    data-repeat="false">
                        <div class="media media-lg">
                            <div class="media-left">
                                <a href="#"​ title="假期怎么玩？欢乐农家乐欢迎您！" target='_self'>
                                    <img class="media-object" src="__IMGS__/1-1g1291100170-l.jpg" style='height:80px;'
                                    alt="假期怎么玩？欢乐农家乐欢迎您！">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#"​ title="假期怎么玩？欢乐农家乐欢迎您！" target='_self'>
                                        假期怎么玩？欢乐农家乐欢迎您！
                                    </a>
                                </h4>
                                <p class="des">
                                    怎么玩？最有趣的地方在哪里？最好玩的地方在哪里？哪里是最好的爱旅行？去欢乐农家乐在一个炎热的夏天，这是专门为游客朋友盛宴的世界，想玩享受可能会导致一个...
                                </p>
                                <p class="info">
                                    <span>
                                        2017-11-29
                                    </span>
                                    <span class="margin-left-10">
                                        admin
                                    </span>
                                    <span class="margin-left-10">
                                        <i class="icon wb-eye margin-right-5" aria-hidden="true">
                                        </i>
                                        181
                                    </span>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="invisible" data-plugin="appear" data-animate="slide-bottom"
                    data-repeat="false">
                        <div class="media media-lg">
                            <div class="media-left">
                                <a href="#"​ title="山庄活动 钓龙虾、吃龙虾的季节又来了哈"
                                target='_self'>
                                    <img class="media-object" src="__IMGS__/1-1g129105956210.jpg" style='height:80px;'
                                    alt="山庄活动 钓龙虾、吃龙虾的季节又来了哈">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#"​ title="山庄活动 钓龙虾、吃龙虾的季节又来了哈"
                                    target='_self'>
                                        山庄活动 钓龙虾、吃龙虾的季节又来了哈
                                    </a>
                                </h4>
                                <p class="des">
                                    这是一个钓者情有独钟的季节：适宜的气温、明媚却不火辣的阳光、还有那浮到浅水来晒太阳的大鱼、龙虾、甲鱼。简单的行囊，装进的不止是一份恬静开阔的心情，更是...
                                </p>
                                <p class="info">
                                    <span>
                                        2017-11-29
                                    </span>
                                    <span class="margin-left-10">
                                        admin
                                    </span>
                                    <span class="margin-left-10">
                                        <i class="icon wb-eye margin-right-5" aria-hidden="true">
                                        </i>
                                        200
                                    </span>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#"​ title="游玩攻略" class="more">
                    查看更多
                </a>
            </div>
        </div>
        <div class="met-index-contact met-index-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <p style="margin-top: 10px; padding: 0px; font-family: 微软雅黑; line-height: 20px; color: rgb(0, 0, 0); white-space: normal; text-indent: 0em;">
                            <span style="font-size: 20px;">
                                <strong>
                                    <span style="color: rgb(255, 255, 255);">
                                       最牛工作室
                                    </span>
                                </strong>
                            </span>
                        </p>
                        <p style="margin-top: 10px; padding: 0px; font-family: 微软雅黑; line-height: 20px; color: rgb(0, 0, 0); white-space: normal; text-indent: 0em;">
                            <span style="color: rgb(255, 255, 255); font-family: 微软雅黑, " microsoft=""
                            font-size:="">
                                联系方式：521-520-1314
                            </span>
                        </p>
                        <p style="margin-top: 10px; padding: 0px; font-family: 微软雅黑; line-height: 20px; color: rgb(0, 0, 0); white-space: normal; text-indent: 0em;">
                            <span style="color: rgb(255, 255, 255); font-family: 微软雅黑, " microsoft=""
                            font-size:="">
                                地址：北京市顺义区
                            </span>
                        </p>
                        <p style="margin-top: 10px; padding: 0px; font-family: 微软雅黑; line-height: 20px; color: rgb(0, 0, 0); white-space: normal; text-indent: 0em;">
                            <span style="color: rgb(255, 255, 255); font-family: 微软雅黑, " microsoft=""
                            font-size:="">
                                公交线路：205路、509、365路到软件园南站下对面即是。
                            </span>
                        </p>
                        <p style="margin-top: 10px; padding: 0px; font-family: 微软雅黑; line-height: 20px; color: rgb(0, 0, 0); white-space: normal; text-indent: 0em;">
                            <span style="color: rgb(255, 255, 255); font-family: 微软雅黑, " microsoft=""
                            font-size:="">
                                <img src="__IMGS__/3e7cd5389cc442aeace60d2f1a9f0a9c.png" style=" width:100%;"
                                border="0" vspace="0" title="" alt="" />
                            </span>
                        </p>
                        <p style="margin-top: 10px; padding: 0px; font-family: 微软雅黑; line-height: 20px; color: rgb(0, 0, 0); white-space: normal; text-indent: 0em;">
                            <span style="color: rgb(255, 255, 255); font-family: 微软雅黑, " microsoft=""
                            font-size:="">
                                <br/>
                            </span>
                        </p>
                        <p class="font-size-20">
                        </p>
                    </div>
                    <div class="col-md-7">
                    	天气接口

                    </div>
                </div>
            </div>
        </div>

       <!--底部-->
     {include file="common/top"}
     <!--  <底部>-->

    </body>

</html>